<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard</h1>

        <% if(success_msg != ''){ %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
        <% } %>
        <h2>
            <%= user.email  %>
        </h2>

        <a href="/logout">Logout</a>
    </body>
</html>
